/*
 *  STYLE 2
 */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #121929;
    width: 5px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #121929;
    border-radius: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #CBD2E1;
    width: 5px;
}

.btn-post-card {
    float: right;
    margin: 20px 5px 5px 5px;
}

@media only screen and (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }
}

.portfolioList{
    max-height: 250px;
    overflow: auto;
}
.invoiceContainer{
    text-align: center;
}
.employee-box-invoice{
    padding: 1.2em 0!important;
}
.mini-card-right{
    margin-top: 15px;
}
.reactour-portal{
    color :#28364e
}
.reactour-portal{
    color :#28364e
}

.profileTopEdit{
    position: absolute;
    width: auto;

}
.white-icon{
    color: #fff!important;
}