.perfilHeaderContainer {
    margin-top: 10px;
}

@media (max-width:767px) {
    ul.nav.navbar-top-links.navbar-right {
        background-color: #1e293d;
        border-bottom: 1px solid #344361;
    }
    ul.nav.navbar-top-links.navbar-right>div {
        text-align: left;
        margin-left: 20px;
    }
    .navbar-default {
        background-color: #121929;
    }
    .navbar-collapse {
        border-top: none;
        border-bottom: 1px solid #344361!important;
    }
}