.public-user-name {
    margin-left: 20px !important;
}

.public-user-name h5 {
    font-size: 20px !important;
}

.public-user-name .bottom {
    margin-top: -10px !important;
}

.avatar-image {
    width: 110px !important;
    margin-top: 20px;
    border-radius: 0% !important;
}

.social-detail .return {
    font-size: 32px !important;
    width: 60% !important;
    text-align: left !important;
}

.day-return {
    width: 40% !important;
    margin-top: 18px;
    text-align: left !important;
    font-weight: 100 !important;
}

.social-detail span {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .profile-top-buttons {
        margin-top: 34px;
    }
}

.public-profile {
    white-space: nowrap;
}

.profile-body {
    margin-top: 30px;
}

.performance-list {
    margin: 0px 20px 0px 20px;
}

.baseCoinSwitch{
    float: right;
}
.baseCoinSwitch .onoffswitch-inner:before {
    content: "BTC"
}

.baseCoinSwitch .onoffswitch-inner:after {
    content: "USDT"
}

.baseCoinSwitch .onoffswitch-switch {
    width: 22px;
    margin: 4px;
    border-radius: 13px;
    top: 1px;
    bottom: 6px;
}